In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
play_data = pd.read_csv('PlayTennis.csv')

In [7]:
play_data.head(10)

    Outlook Temperature Humidity    Wind Play_Tennis
0     Sunny         Hot     High    Weak          No
1     Sunny         Hot     High  Strong          No
2  Overcast         Hot     High    Weak         Yes
3      Rain        Mild     High    Weak         Yes
4      Rain        Cool   Normal    Weak         Yes
5      Rain        Cool   Normal  Strong          No
6  Overcast        Cool   Normal  Strong         Yes
7     Sunny        Mild     High    Weak          No
8     Sunny        Cool   Normal    Weak         Yes
9      Rain        Mild   Normal    Weak         Yes

In [9]:
play_data.Play_Tennis.value_counts()

Yes    9
No     5
Name: Play_Tennis, dtype: int64

In [10]:
Entropy_Play = -(9/14)*np.log2(9/14) - (5/14)*np.log2(5/14)

In [11]:
Entropy_Play

0.9402859586706311

In [12]:
play_data[play_data.Outlook == 'sunny']

Empty DataFrame
Columns: [Outlook, Temperature, Humidity, Wind, Play_Tennis]
Index: []

In [15]:
Entropy_Play_Outlook_Sunny = -(3/5)*np.log2(3/5) - (2/5)*np.log2(2/5)

In [16]:
Entropy_Play_Outlook_Sunny

0.9709505944546686

In [18]:
play_data[play_data.Outlook == 'overcast']

Empty DataFrame
Columns: [Outlook, Temperature, Humidity, Wind, Play_Tennis]
Index: []

In [19]:
play_data[play_data.Outlook == 'rainy']

Empty DataFrame
Columns: [Outlook, Temperature, Humidity, Wind, Play_Tennis]
Index: []

In [20]:
Entropy_Play_Outlook_Rain = -(2/5)*np.log2(2/5) - (3/5)*np.log2(3/5)

In [21]:
Entropy_Play_Outlook_Rain

0.9709505944546686

In [23]:
Entropy_Play_Outlook_Sunny - (3/5)*0 - (2/5)*0

0.9709505944546686

In [27]:
Entropy_Wind_False = -(1/3)*np.log2(1/3) - (2/3)*np.log2(2/3)

In [29]:
Entropy_Wind_False

0.9182958340544896

In [32]:
Entropy_Play_Outlook_Sunny - (3/5)*Entropy_Wind_False - (2/5)*1

0.01997309402197489

In [33]:
Entropy_Play_Outlook_Sunny - (2/5)*0 - (1/5)*0 - (2/5)*1

0.5709505944546686