In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.DataFrame({'x':[1,2,3,4,5,6,7,8,9,10],'y':[2,1,3,6,9,11,13,15,17,20]})
df

    x   y
0   1   2
1   2   1
2   3   3
3   4   6
4   5   9
5   6  11
6   7  13
7   8  15
8   9  17
9  10  20

In [12]:
std_x=df.x.std()
std_x

3.0276503540974917

In [13]:
std_y=df.y.std()
std_y

6.61731734835869

In [14]:
mean_x=df.x.mean()
mean_x

5.5

In [15]:
df.info

<bound method DataFrame.info of     x   y
0   1   2
1   2   1
2   3   3
3   4   6
4   5   9
5   6  11
6   7  13
7   8  15
8   9  17
9  10  20>

In [16]:
mean_y=df.y.mean()
mean_y

9.7

In [21]:
corr=np.corrcoef(df.x,df.y)

In [22]:
b1=0.98993808*(std_y/std_x)

In [23]:
b1

2.163636372911889

In [24]:
bQ=mean_y-b1*mean_x
bQ

-2.2000000510153885

In [26]:
import numpy as np
import pandas as pd
import matplotlib as plt
import pandas as pd

In [27]:
dataset = pd.read_csv('salary_data.csv')

In [28]:
dataset.head(2)

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0

In [31]:
x=dataset.iloc[:,-1].values
y=dataset.iloc[:,-1].values

In [34]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test(x,y,test_Size=0.2, random_state=21)

NameError: name 'x_train' is not defined